.signin{
    margin-top: 30px;
    margin-left: 1000px;
}
.signup{
    margin-top: 30px;

}
.cart{
    background-color: blue;
}
header{
   padding-bottom: 20px;
    border: 1px solid palevioletred;
}
.cd{
    padding-top: 50px;
}